.row {
    display: flex;
    padding: 10px;
    margin: 30px;
    background-color: azure;
    height: 600;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.memo {
    text-align: center;
    color: #444;
}
.mesa {
    padding: 20px;
    margin: auto;
    width: 550px;
    height: 425px;
    background-color: #CCC;
    border-radius: 5%;
    border-style: dotted;
    border-color: #444;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 520px;    
    height: 416px;
    margin: auto; 
    padding:5px;
    padding-top: 5px;
}
img {
    margin: 2px;
}
.matches p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: cadetblue;
    text-align: center;
}
.matches span {
    font-size: 80px;
}
.desc {
    background-image: url("images/memo.png");
    background-repeat: no-repeat;
    background-position: center;
}